<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	<body>
		<nav>
			<ul>
				{% for entity in entities %}
					<li>
						<a href="{{ path(entity.route, entity.params) }}">
							{{ entity.name }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</nav>

		<nav>
			<ul>
				{% macro render_space(space, spaces) %}
					<li data-id="{{ space.id }}" data-parent="{{ space.parent ? space.parent.id : 'null' }}">
						<details>
							<summary>
								{{ form_start(spaceForms['edit'][space.id]) }}
								{{ form_widget(spaceForms['edit'][space.id]) }}
								<button type="submit">Modifier</button>
								{{ form_end(spaceForms['edit'][space.id]) }}
								<a href="{{ path('app_entity_delete', { class: space|class_name|lower, id: space.id }) }}" onclick="return confirm('Do you really want to delete this item?');">-</a>
							</summary>

							{% set children = spaces|filter(s => s.parent and s.parent.id == space.id) %}

							<ul>
								{% for child in children %}
									{{ _self.render_space(child, spaces) }}
								{% endfor %}

								<li>
									<details>
										<summary>+</summary>
										{{ form_start(spaceForms['new'][space.id]) }}
										{{ form_widget(spaceForms['new'][space.id]) }}
										<button type="submit">Modifier</button>
										{{ form_end(spaceForms['new'][space.id]) }}
									</details>
								</li>
							</ul>
						</details>
					</li>
				{% endmacro %}

				{% import _self as macros %}
				{% for space in spaces %}
					{% if space.parent is null %}
						{{ macros.render_space(space, spaces) }}
					{% endif %}
				{% endfor %}

				<li>
					{{ form_start(spaceForms['new']['-1']) }}
					{{ form_widget(spaceForms['new']['-1']) }}
					<button type="submit">+</button>
					{{ form_end(spaceForms['new']['-1']) }}
				</li>
			</ul>
		</nav>

		<main>
			<h1>{{ block('title') }}</h1>

			{% block body %}{% endblock %}
		</main>
	</body>
</html>
