<!DOCTYPE html>
<html data-bs-theme='dark'>
	<head>
		<meta charset='UTF-8'/>

		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>

		<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>'/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>
		<nav>
			<ul>
				{% for entity in entities %}
					<li>
						<a href="{{ path(entity.route, entity.params) }}">
							{{ entity.name }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</nav>

		<aside id='site-sidebar' class='navbar'>
			<a href='/' id='site-title' class='navbar-brand'>Ordo</a>

			<nav id='site-nav'>
				<ul class='navbar-nav'>
					<li class='nav-item'>
						<div class='nav-summary'>
							<a href='/' class='nav-link collapse-summary {% if app.request.get("_route") == "app_home" %}active{% endif %}'>Home</a>
						</div>
					</li>

					<li class='nav-item' data-controller="sortable" data-sortable-url="{{ path('api_space_hierarchy') }}">
						<div class='nav-title nav-summary'>
							<div class='collapse-summary'>Spaces</div>
							<div class='dropdown'>
								<span id='dropdown-space-root' class='dropdown-toggle' data-bs-toggle='dropdown' aria-expanded='false'>
									<twig:ux:icon name='radix-icons:dots-horizontal'/>
								</span>
								<ul class='dropdown-menu' aria-labelledby='#dropdown-space-root' style=''>
									<li class='open-modal-space dropdown-item' data-bs-toggle='modal' data-bs-target='#modal-space' data-mode='new'>
										<twig:ux:icon name='material-symbols-light:workspaces-outline'/>
										<span>Add Space</span>
									</li>
									<li class='open-modal-space dropdown-item' data-bs-toggle='modal' data-bs-target='#modal-space' data-mode='new'>
										<twig:ux:icon name='material-symbols-light:archive-outline-rounded'/>
										<span>Show archived Spaces</span>
									</li>
									<li class='dropdown-item'>
										<twig:ux:icon name='material-symbols-light:settings-outline-rounded'/>
										<span>Settings</span>
									</li>
								</ul>
							</div>
						</div>
						<ul id="space-list" class='sortable-list btn-toggle-nav navbar-nav root-items'>
							{% macro render_space(space, spaces) %}
								{% set has_show_class = _self.has_show_class(space, spaces)|spaceless %}
								{% set children = spaces|filter(s => s.parent and s.parent.id == space.id) %}

								<li class='sortable-item nav-item' data-id="{{ space.id }}">
									<div class='nav-summary {% if app.request.get("_route") == "app_entity_show" and app.request.get("id") == space.id %}active{% endif %}'>
										<button class='btn-toggle {% if app.request.get("_route") != "app_entity_show" and app.request.get("id") != space.id %}collapsed{% endif %} {% if children is empty %}d-none{% endif %}' data-bs-toggle='collapse' data-bs-target="{{ '#collapse-space-' ~ space.id }}" aria-expanded='{{ has_show_class ? 'true' : 'false' }}'>
											<twig:ux:icon name='radix-icons:caret-right'/>
										</button>
										<a href="{{ path('app_entity_show', { class: space|class_name|lower, id: space.id }) }}" class='sortable-handle nav-link collapse-summary'>
											{% if space.status == 'archived' %}
												<twig:ux:icon name='material-symbols-light:archive-outline-rounded'/>
											{% endif %}
											<span>{{ space.name }}</span>
										</a>
										<div class='dropdown'>
											<span class='dropdown-toggle' id="{{ 'dropdown-space-' ~ space.id }}" data-bs-toggle='dropdown' aria-expanded='false'>
												<twig:ux:icon name='radix-icons:dots-horizontal'/>
											</span>
											<ul class='dropdown-menu' aria-labelledby="{{ '#dropdown-space-' ~ space.id }}" style=''>
												{% if space.status == 'open' %}
													<li class='open-modal-space dropdown-item' data-bs-toggle='modal' data-bs-target='#modal-space' data-mode='new' data-id="{{ space.id }}">
														<twig:ux:icon name='material-symbols-light:workspaces-outline'/>
														<span>Add child Space</span>
													</li>
													<li class='open-modal-space dropdown-item' data-bs-toggle='modal' data-bs-target='#modal-space' data-mode='edit' data-id="{{ space.id }}">
														<twig:ux:icon name='material-symbols-light:settings-outline-rounded'/>
														<span>Settings</span>
													</li>
													<li><hr class='dropdown-divider'></li>
													<li class='dropdown-item archive-space' data-id="{{ space.id }}">
														<twig:ux:icon name='material-symbols-light:archive-outline-rounded'/>
														<span>Archive</span>
													</li>
												{% endif %}
												{% if space.status == 'archived' %}
													<li class='dropdown-item restore-space' data-id="{{ space.id }}">
														<twig:ux:icon name='mdi-light:refresh'/>
														<span>Restore</span>
													</li>
												{% endif %}
												<li class='dropdown-item'>
													<a href="{{ path('app_entity_delete', { class: space|class_name|lower, id: space.id }) }}" class='text-danger' onclick='return confirm("Do you really want to delete this item?");'>
														<twig:ux:icon name='material-symbols-light:delete-outline-rounded'/>
														<span>Delete</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class='collapse {% if has_show_class %}show{% endif %}' id="{{ 'collapse-space-' ~ space.id }}">
										<ul class='sortable-list navbar-nav btn-toggle-nav' data-controller="sortable" data-sortable-url="{{ path('api_space_hierarchy') }}">
											{% for child in children %}
												{{ _self.render_space(child, spaces) }}
											{% endfor %}
										</ul>
									</div>
								</li>
							{% endmacro %}

							{% macro has_show_class(space, spaces) %}
								{% set has_show_class = '0' %}

								{% if app.request.get("_route") == "app_entity_show" and app.request.get("id") == space.id %}
									{% set has_show_class = '1' %}
								{% endif %}

								{% set children = spaces|filter(s => s.parent is not null and s.parent.id == space.id) %}
								{% if children is not empty and has_show_class == '0' %}
									{% for child in children %}
										{% if _self.has_show_class(child, spaces)|trim == '1' %}
											{% set has_show_class = '1' %}
										{% endif %}
									{% endfor %}
								{% endif %}

								{{ has_show_class }}
							{% endmacro %}

							{% import _self as macros %}
							{% for space in spaces %}
								{% if space.parent is null %}
									{{ macros.render_space(space, spaces) }}
								{% endif %}
							{% endfor %}
						</ul>
					</li>
				</ul>
			</nav>
		</aside>

		<main>
			<h1>{{ block('title') }}</h1>
			{% block body %}{% endblock %}
		</main>

		<twig:Modal id='space' title='New Space'>
			<twig:block name='body'>
				{{ form_start(spaceForm, {'attr': {
						'id': 'form-space',
						'data-new-action': path('app_entity_new', {'class': 'space'}),
						'data-edit-action': path('app_entity_edit', {'class': 'space', 'id': 'PLACEHOLDER'})}
					}) }}
				{{ form_widget(spaceForm) }}
				{{ form_end(spaceForm) }}
			</twig:block>

			<twig:block name='footer'>
				<button type='submit' form='form-space' id='submit-form-space' class='btn btn-primary'>Save</button>
			</twig:block>
		</twig:Modal>

		{{ form_start(statusSpaceForm, {'attr': {
						'id': 'form-space-status',
						'class': 'd-none',
						'data-action': path('app_space_status', {'id': 'PLACEHOLDER'})}
					}) }}
		{{ form_widget(statusSpaceForm) }}
		{{ form_end(statusSpaceForm) }}

	</body>
</html>
